@font-face {
  font-family: "iconfont"; /* Project id 4196414 */
  src: url('iconfont.woff2?t=1703298718791') format('woff2'),
       url('iconfont.woff?t=1703298718791') format('woff'),
       url('iconfont.ttf?t=1703298718791') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoyijilu:before {
  content: "\e637";
}

.icon-24gl-gear:before {
  content: "\e9ba";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-telegram:before {
  content: "\e794";
}

.icon-twitter:before {
  content: "\ece3";
}

.icon-tuichu:before {
  content: "\e600";
}

.icon-hanbaocaidan:before {
  content: "\e661";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-tupian:before {
  content: "\eac4";
}

.icon-shouye:before {
  content: "\e64f";
}

